@model IEnumerable<EmployeeManagementWeb.Models.Employee>

<h2>Employees</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Designation</td>
            <td>@item.Salary</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
